body{
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
} 

.container{
   max-width: 60%;
   margin-left:auto;
   margin-right: auto;
}

.row{
   margin: 4px 0px 4px 0px;
}

.text-center *{
   text-align: center;
}
.text-right *{
   text-align: right;
}
.mt0{
   margin-top:-10px;
}
.mt1{
   /* margin-top:.6em; */
   margin-bottom: .2em;
}
.mt2{
   margin-top:1.2em;
   margin-bottom: .3em;
}

.bitme{
   width: 60%;
   margin: auto;
}

.profile img {
   width: 35%;
   border-radius: 50%;
}

.title{
   margin:0;
   color: #999999;
}
.name{
   margin-top: .7em;
   margin-bottom: 0em;
   font-size: 1.4em;
}

.description{
   display: block;
   padding: 8px;
   line-height: 1em;
   font-size: .87em;
   font-weight: inherit;
   color: rgb(36, 36, 36);
   width: 88%;
   margin-top: 0.5em;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 1.5em;
}

.pr-tags{
   display: block;
   padding: .3em;
   text-align: right;
   margin-top: -.8em;
   margin-bottom: .2em;
}

.pr-tags label{
   border: none;
   background: aliceblue;
   padding: .4em;
   border-radius: 4px;
   font-size: .7em;
}

.pr-title{
   text-align: right;
   font-weight: bold;
}
h4{
   font-size: 1.2em;
   padding-left: 18px;
}
h6{
   font-size: 1.2em;
   padding-left: 18px;
}

.link{
   display: block;
   background: #fa2;
   padding: .6em 1em .6em 1em;
   line-height: 17px;
   border-radius: 2px;
}

.pr-body{
   margin: 1.2em;
}

.pr-body .link{
   font-size: .8em;
   text-align: center;
}

.pr-body .link a{
   text-decoration: none;
   color: black;
   font-weight: 600;
}

.about{
   font-size: 1em;
   line-height: 1.2em;
   text-align: justify;
   margin-left: auto;
   margin-right: auto;
   margin: 1.2em;

}


.fw-title{
   font-weight: 700;
   text-decoration: underline;
       text-decoration-color: currentcolor;
       text-decoration-thickness: auto;
   text-decoration-color: #fa2;
   text-decoration-thickness: 0.130em;
   text-underline-offset: 4.5px;
   font-size: xx-large;
   margin-bottom: .8em;
}

.fw-bold{
   font-weight: 800;
   text-decoration: underline;
   text-decoration-color: #EA215A;
   text-decoration-thickness: .125em;
   text-underline-offset: 1.5px;
}

.linkbtn {
   box-shadow: inset 0px 1px 0px 0px #fff6af;
   background-color: #transparent;
   border-radius: 6px;
   border: 1px solid #ffaa22;
   cursor: pointer;
   color: #333333;
   font-size: 15px;
   font-weight: bold;
   padding: 11px 24px;
   text-decoration: none;
   text-shadow: 0px 1px 0px #ffee66;
   display: block;
   margin: 10px 18px;
   text-align: center;
}

.linkbtn:hover {
   background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
   background-color:#ffab23;
}

.linkbtn:active {
   position:relative;
   top:1px;
}

.copyright {
   margin-top: 2em;
   font-size: .7em;
   border-top: thin solid #dfdfdf;
   text-align: center;
   padding-top: .5em;
}



.pr-description{
   text-align: justify;
}

p.project{
   font-size: small;
}

.screen-min{
   display: none;
}

@media screen and (max-width: 860px) {
   .container{
      max-width: 70%;
      margin-left:auto;
      margin-right: auto;
   }

   .bitme{
      width: 100%;
   }

   .linktree{
      width: 100%;
   }

   .link{
      display: block;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
   }

}


@media screen and (max-width: 600px) {
   .container{
      max-width: 100%;
      margin-left:auto;
      margin-right: auto;
   }
   .bitme{
      width: 100%;
   }
   .linktree{
      width: 100%;
   }
   .link{
      display: block;
      background: #fa2;
      padding: .6em 1em .6em 1em;
      line-height: 17px;
      border-radius: 2px;
   }

}

@media screen and (max-width: 300px) {
   .container{
      display: none;
   }
   .screen-min{
      display: block;
      font-size: 1em;
      text-align: center;
      font-weight: bold;
      margin-top: 2em;
   }

}